body {
    
}/*semana9 -Transforme os elementos da lista de itens em Flexbox */
main {
    display: flex;
    flex-direction: column;
    background-color: gray;
}
/*semana8 - 1. Estilizar a pg com CSS (header e footer)*/
header {
    background-color: rgb(255, 69, 0);
    color: white;
    color: rgb(255, 254, 254);
    display: grid;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 5vh;
    min-width: 5vw;
}

#button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
}

button {
    background-color: rgb(233, 67, 94);
    color: #fff;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    text-shadow: none;
    font-family: tahoma;
    text-align: center;
}

button:hover {
    color: rgb(10, 3, 0);
}

button:active {
    background-color: rgb(228, 66, 93);
    box-shadow: 3px 3px 3px rgb(3, 3, 3);
    transform: translateY(2px);
}

input {
    border-radius: 5px;
    box-shadow: 5px 5px 5px;
    text-align: center;
    justify-content: center;
}

section{
    padding: 5px;
    color: #fdfbfb;
    min-width: 80%;
    text-align:;
}
figure{
    text-align: left;
}

aside {
    margin: 10px;
    border: 1px solid #9A031E;
    padding: 5px;
    color: #9A031E;
    width: 20%;
}

/*semana8 - 1. Estilizar a pg com CSS (header e footer)*/
footer {
    background-color: rgb(255, 69, 0);
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


